<h3>Gaurav Jagtap</h3>
<h1>Oasis Task 1 Iris flower Classification</h1>

In [28]:
import numpy as np  
import matplotlib.pyplot as plt   
import seaborn as sns  
import pandas as pd

<h2>Import Dataset</h2>

In [29]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

<h2>Data Visualization</h2>

In [30]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

<h2>Visualize whole Dataset</h2>

In [31]:
sns.pairplot(df, hue='Species')   #pairwise plotting

<h2>Seperating input columns and output columns</h2>

In [32]:
data = df.values 
x = data[:,0:4]  
y = data[:,4]      
print(x)

[[1 5.1 3.5 1.4]
 [2 4.9 3.0 1.4]
 [3 4.7 3.2 1.3]
 [4 4.6 3.1 1.5]
 [5 5.0 3.6 1.4]
 [6 5.4 3.9 1.7]
 [7 4.6 3.4 1.4]
 [8 5.0 3.4 1.5]
 [9 4.4 2.9 1.4]
 [10 4.9 3.1 1.5]
 [11 5.4 3.7 1.5]
 [12 4.8 3.4 1.6]
 [13 4.8 3.0 1.4]
 [14 4.3 3.0 1.1]
 [15 5.8 4.0 1.2]
 [16 5.7 4.4 1.5]
 [17 5.4 3.9 1.3]
 [18 5.1 3.5 1.4]
 [19 5.7 3.8 1.7]
 [20 5.1 3.8 1.5]
 [21 5.4 3.4 1.7]
 [22 5.1 3.7 1.5]
 [23 4.6 3.6 1.0]
 [24 5.1 3.3 1.7]
 [25 4.8 3.4 1.9]
 [26 5.0 3.0 1.6]
 [27 5.0 3.4 1.6]
 [28 5.2 3.5 1.5]
 [29 5.2 3.4 1.4]
 [30 4.7 3.2 1.6]
 [31 4.8 3.1 1.6]
 [32 5.4 3.4 1.5]
 [33 5.2 4.1 1.5]
 [34 5.5 4.2 1.4]
 [35 4.9 3.1 1.5]
 [36 5.0 3.2 1.2]
 [37 5.5 3.5 1.3]
 [38 4.9 3.1 1.5]
 [39 4.4 3.0 1.3]
 [40 5.1 3.4 1.5]
 [41 5.0 3.5 1.3]
 [42 4.5 2.3 1.3]
 [43 4.4 3.2 1.3]
 [44 5.0 3.5 1.6]
 [45 5.1 3.8 1.9]
 [46 4.8 3.0 1.4]
 [47 5.1 3.8 1.6]
 [48 4.6 3.2 1.4]
 [49 5.3 3.7 1.5]
 [50 5.0 3.3 1.4]
 [51 7.0 3.2 4.7]
 [52 6.4 3.2 4.5]
 [53 6.9 3.1 4.9]
 [54 5.5 2.3 4.0]
 [55 6.5 2.8 4.6]
 [56 5.7 2.8 4.5]
 [57 6.3 3.3 4.7]
 [58 4.9 2.4 3.3]
 [59 6.6 2.9 4.6]
 [60 5.2 2.7 3.9]
 [61 5.0 2.0 3.5]
 [62 5.9 3.0 4.2]
 [63 6.0 2.2 4.0]
 [64 6.1 2.9 4.7]
 [65 5.6 2.9 3.6]
 [66 6.7 3.1 4.4]
 [67 5.6 3.0 4.5]
 [68 5.8 2.7 4.1]
 [69 6.2 2.2 4.5]
 [70 5.6 2.5 3.9]
 [71 5.9 3.2 4.8]
 [72 6.1 2.8 4.0]
 [73 6.3 2.5 4.9]
 [74 6.1 2.8 4.7]
 [75 6.4 2.9 4.3]
 [76 6.6 3.0 4.4]
 [77 6.8 2.8 4.8]
 [78 6.7 3.0 5.0]
 [79 6.0 2.9 4.5]
 [80 5.7 2.6 3.5]
 [81 5.5 2.4 3.8]
 [82 5.5 2.4 3.7]
 [83 5.8 2.7 3.9]
 [84 6.0 2.7 5.1]
 [85 5.4 3.0 4.5]
 [86 6.0 3.4 4.5]
 [87 6.7 3.1 4.7]
 [88 6.3 2.3 4.4]
 [89 5.6 3.0 4.1]
 [90 5.5 2.5 4.0]
 [91 5.5 2.6 4.4]
 [92 6.1 3.0 4.6]
 [93 5.8 2.6 4.0]
 [94 5.0 2.3 3.3]
 [95 5.6 2.7 4.2]
 [96 5.7 3.0 4.2]
 [97 5.7 2.9 4.2]
 [98 6.2 2.9 4.3]
 [99 5.1 2.5 3.0]
 [100 5.7 2.8 4.1]
 [101 6.3 3.3 6.0]
 [102 5.8 2.7 5.1]
 [103 7.1 3.0 5.9]
 [104 6.3 2.9 5.6]
 [105 6.5 3.0 5.8]
 [106 7.6 3.0 6.6]
 [107 4.9 2.5 4.5]
 [108 7.3 2.9 6.3]
 [109 6.7 2.5 5.8]
 [110 7.2 3.6 6.1]
 [111 6.5 3.2 5.1]
 [112 6.4 2.7 5.3]
 [113 6.8 3.0 5.5]
 [114 5.7 2.5 5.0]
 [115 5.8 2.8 5.1]
 [116 6.4 3.2 5.3]
 [117 6.5 3.0 5.5]
 [118 7.7 3.8 6.7]
 [119 7.7 2.6 6.9]
 [120 6.0 2.2 5.0]
 [121 6.9 3.2 5.7]
 [122 5.6 2.8 4.9]
 [123 7.7 2.8 6.7]
 [124 6.3 2.7 4.9]
 [125 6.7 3.3 5.7]
 [126 7.2 3.2 6.0]
 [127 6.2 2.8 4.8]
 [128 6.1 3.0 4.9]
 [129 6.4 2.8 5.6]
 [130 7.2 3.0 5.8]
 [131 7.4 2.8 6.1]
 [132 7.9 3.8 6.4]
 [133 6.4 2.8 5.6]
 [134 6.3 2.8 5.1]
 [135 6.1 2.6 5.6]
 [136 7.7 3.0 6.1]
 [137 6.3 3.4 5.6]
 [138 6.4 3.1 5.5]
 [139 6.0 3.0 4.8]
 [140 6.9 3.1 5.4]
 [141 6.7 3.1 5.6]
 [142 6.9 3.1 5.1]
 [143 5.8 2.7 5.1]
 [144 6.8 3.2 5.9]
 [145 6.7 3.3 5.7]
 [146 6.7 3.0 5.2]
 [147 6.3 2.5 5.0]
 [148 6.5 3.0 5.2]
 [149 6.2 3.4 5.4]
 [150 5.9 3.0 5.1]]

<h2>Splitting data into training and testing</h2>

In [33]:
X = df.drop('Species' ,axis=1)
y = df['Species']
from sklearn.model_selection import train_test_split    #scikit
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 30, random_state = 21)
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

<h2>Prediction And Accuracy</h2>

In [34]:
lr_pred = lr.predict(X_test)
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
print("Accuracy: ", accuracy_score(lr_pred,y_test)*100)

Accuracy:  100.0

In [35]:
confusion_matrix(lr_pred, y_test)

array([[11,  0,  0],
       [ 0, 12,  0],
       [ 0,  0,  7]], dtype=int64)

<h2>Classification</h2>

In [36]:
print(classification_report(lr_pred, y_test))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        11
Iris-versicolor       1.00      1.00      1.00        12
 Iris-virginica       1.00      1.00      1.00         7

       accuracy                           1.00        30
      macro avg       1.00      1.00      1.00        30
   weighted avg       1.00      1.00      1.00        30